language: rust

sudo: false
branches:
  except:
    - staging.tmp

before_script:
  - git submodule update --init

jobs:
  include:
    - os: linux
      rust: stable
    - os: linux
      rust: nightly 
      script: # rustfmt is not always available on nightly
        - cargo check --verbose
        - git diff --exit-code
        - cargo test --verbose
    - os: osx
      rust: stable
    - os: windows
      rust: stable

script:
  - rustup component add rustfmt
  - cargo check --verbose
  - git diff --exit-code
  - cargo test --verbose
