on: [push, pull_request]

name: Continuous integration

jobs:
  lint:
    name: Lint and test
    strategy:
      matrix:
        # os: [ubuntu-latest, windows-latest]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: actions-rs/toolchain@v1
        with:
          # TODO: Nightly
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: check
          args: --workspace --all-targets --verbose
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-targets --verbose
